<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313295707659-ef51ejref4aijtb2bd02buh4r128gqpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313295707659-ef51ejref4aijtb2bd02buh4r128gqpf</string>
	<key>API_KEY</key>
	<string>AIzaSyD5RnYGZPpL-8cYyv_32yQXBf6ruQW90X0</string>
	<key>GCM_SENDER_ID</key>
	<string>313295707659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solitics.ios.SoliticsIntegrationApp</string>
	<key>PROJECT_ID</key>
	<string>ga-solitics</string>
	<key>STORAGE_BUCKET</key>
	<string>ga-solitics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313295707659:ios:056ff739978024466eb10e</string>
</dict>
</plist>