//
//  Debug.xcconfig
//  PlayLinkSDK
//
//  Created by Arkadi Yoskovitz on 11/27/20.
//  Copyright © 2020 PlayStudios. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"
// =====================================================================================================================
// Debug
// =====================================================================================================================
//BITCODE_GENERATION_MODE = marker;
//OTHER_CFLAGS = -fembed-bitcode-marker;

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1;

MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE;

GCC_DYNAMIC_NO_PIC = NO;
GCC_OPTIMIZATION_LEVEL = 0;
GCC_SYMBOLS_PRIVATE_EXTERN = NO;

ENABLE_TESTABILITY = YES;
ENABLE_NS_ASSERTIONS = YES;
COPY_PHASE_STRIP = NO;
